<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="imetro_mobile_environment">

  <!-- Include macro -->
  <xacro:include filename="$(find phoebe_description)/urdf/imetro_mobile_environment/imetro_mobile_environment_macro.xacro"/>

  <link name="world"/>

  <xacro:imetro_mobile_environment parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:imetro_mobile_environment>

</robot>
