<?xml version="1.0"?>
<robot name="phoebe" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Args -->
  <xacro:arg name="add_grasp_push_frames" default="true"/>
  <xacro:arg name="include_world_joints" default="false"/>
  <xacro:arg name="sim_speed" default="1.0"/>
  <xacro:arg name="use_pregenerated_mjcf" default="false"/>
  <xacro:arg name="model_mobile_env" default="true"/>
  <xacro:arg name="use_left_static_pedestal" default="false"/>
  <xacro:arg name="base_joint_type" default="fixed"/>
  <!-- uncomment to start from saved keyframe -->
  <!-- <xacro:arg name="override_start_position_file" default="$(find cylinder_demo)/config/new_pre_place.xml"/> -->

  <xacro:property name="model_mobile_env" value="$(arg model_mobile_env)"/>

  <!-- Includes -->
  <xacro:include filename="$(find phoebe_description)/urdf/phoebe_macro.xacro" />
  <xacro:include filename="$(find phoebe_description)/urdf/imetro_mobile_environment/imetro_mobile_environment_macro.xacro" />

  <link name="world"/>

  <joint name="floating_base_joint" type="$(arg base_joint_type)">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <xacro:phoebe
    generate_ros2_control_tag="false"
    add_grasp_push_frames="$(arg add_grasp_push_frames)"
    use_camera_mesh="false"
    include_world_joints="$(arg include_world_joints)"
    use_left_static_pedestal="$(arg use_left_static_pedestal)"
  />



  <xacro:if value="${model_mobile_env}">
    <xacro:imetro_mobile_environment parent="world">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:imetro_mobile_environment>
  </xacro:if>

  <!-- special inputs for mujoco processing-->
  <xacro:include filename="$(find phoebe_mujoco_config)/urdf/phoebe_mujoco_raw_inputs.xacro"/>
  <xacro:include filename="$(find phoebe_mujoco_config)/urdf/phoebe_mujoco_processed_inputs.xacro"/>
  <xacro:include filename="$(find phoebe_mujoco_config)/urdf/phoebe_mujoco_scene.xacro"/>

  <mujoco_inputs>
    <raw_inputs>
      <xacro:phoebe_mujoco_raw_inputs use_left_static_pedestal="$(arg use_left_static_pedestal)"/>
    </raw_inputs>
    <processed_inputs>
        <xacro:phoebe_mujoco_processed_inputs />
    </processed_inputs>
    <xacro:phoebe_mujoco_scene/>
  </mujoco_inputs>

  <ros2_control name="MujocoSystem" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
      <xacro:if value="$(arg use_pregenerated_mjcf)">
        <!-- <param name="mujoco_model">$(find phoebe_mujoco_config)/description/scene.xml</param> -->
      </xacro:if>

      <!-- uncomment to start from saved keyframe -->
      <!-- <param name="override_start_position_file">$(arg override_start_position_file)</param> -->

      <!-- Increase this parameter to run the sim faster than realtime. -->
      <param name="sim_speed_factor">$(arg sim_speed)</param>

      <!-- Publish camera images at 2 hz -->
      <param name="camera_publish_rate">2.0</param>
    </hardware>

    <sensor name="left_wrist_mounted_camera">
      <param name="frame_name">left_wrist_mounted_camera_color_optical_frame</param>
      <param name="info_topic">/left_wrist_mounted_camera_/color/camera_info</param>
      <param name="image_topic">/left_wrist_mounted_camera_/color/image_raw</param>
      <param name="depth_topic">/left_wrist_mounted_camera_/aligned_depth_to_color/image_raw</param>
    </sensor>
    <sensor name="right_wrist_mounted_camera">
      <param name="frame_name">right_wrist_mounted_camera_color_optical_frame</param>
      <param name="info_topic">/right_wrist_mounted_camera_/color/camera_info</param>
      <param name="image_topic">/right_wrist_mounted_camera_/color/image_raw</param>
      <param name="depth_topic">/right_wrist_mounted_camera_/aligned_depth_to_color/image_raw</param>
    </sensor>

    <sensor name="lidar2d_0">
      <param name="frame_name">lidar2d_0_laser</param>
      <param name="angle_increment">0.1</param>
      <param name="min_angle">-2.3</param>
      <param name="max_angle">2.3</param>
      <param name="range_min">0.05</param>
      <param name="range_max">10</param>
      <param name="laserscan_topic">lidar2d_0_laser/scan</param>
    </sensor>

    <sensor name="imu_sensor">
      <param name="mujoco_type">imu</param>
      <!-- There is no requirement for the mujoco_sensor_name to match the ros2_control sensor name -->
      <param name="mujoco_sensor_name">imu_sensor</param>
      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
      <state_interface name="angular_velocity.x"/>
      <state_interface name="angular_velocity.y"/>
      <state_interface name="angular_velocity.z"/>
      <state_interface name="linear_acceleration.x"/>
      <state_interface name="linear_acceleration.y"/>
      <state_interface name="linear_acceleration.z"/>
    </sensor>

    <xacro:unless value="$(arg use_left_static_pedestal)">
      <joint name="left_ewellix_lift_lower_to_higher">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.24</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </xacro:unless>
    <joint name="right_ewellix_lift_lower_to_higher">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.24</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_finger_1_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.02</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_robotiq_85_left_knuckle_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_ur_arm_shoulder_pan_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <xacro:if value="$(arg use_left_static_pedestal)">
          <param name="initial_value">${radians(8)}</param>
        </xacro:if>
        <xacro:unless value="$(arg use_left_static_pedestal)">
          <param name="initial_value">${radians(-33)}</param>
        </xacro:unless>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_ur_arm_shoulder_lift_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(11)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_ur_arm_elbow_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(-137)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_ur_arm_wrist_1_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(15)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_ur_arm_wrist_2_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(91)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_ur_arm_wrist_3_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(-197)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_ur_arm_shoulder_pan_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(-123)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_ur_arm_shoulder_lift_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(11)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_ur_arm_elbow_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(-137)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_ur_arm_wrist_1_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(25)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_ur_arm_wrist_2_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(91)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_ur_arm_wrist_3_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${radians(163)}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="front_left_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" >
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="front_right_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" >
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" >
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" >
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <sensor name="right_ur_arm_tcp_fts_sensor">
      <param name="mujoco_type">fts</param>
      <param name="mujoco_sensor_name">right_ur_arm_tcp_fts_sensor</param>
      <state_interface name="force.x"/>
      <state_interface name="force.y"/>
      <state_interface name="force.z"/>
      <state_interface name="torque.x"/>
      <state_interface name="torque.y"/>
      <state_interface name="torque.z"/>
    </sensor>
    <sensor name="left_ur_arm_tcp_fts_sensor">
      <param name="mujoco_type">fts</param>
      <param name="mujoco_sensor_name">left_ur_arm_tcp_fts_sensor</param>
      <state_interface name="force.x"/>
      <state_interface name="force.y"/>
      <state_interface name="force.z"/>
      <state_interface name="torque.x"/>
      <state_interface name="torque.y"/>
      <state_interface name="torque.z"/>
    </sensor>

  </ros2_control>
</robot>
