<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="phoebe_environment">
  <xacro:macro name="phoebe_environment">
  
  <!-- Include color xacro -->
  <xacro:include filename="$(find phoebe_description)/urdf/phoebe_environment_colors.xacro"/>

    <!-- WORLD -->
    <link name="world"/>

    <!-- ===================== BOOKSHELVES (CABINETS) ===================== -->
    <link name="bookshelves">

      <!-- right shelf -->
      <visual>
        <origin xyz="1.55 -2.25 0.75"/>
        <geometry>
          <box size="3.0 0.5 1.5"/>
        </geometry>
        <material name="phoebe_environment_black"/>
      </visual>
      <collision>
        <origin xyz="1.55 -2.25 0.75"/>
        <geometry>
          <box size="3.0 0.5 1.5"/>
        </geometry>
      </collision>

      <!-- left shelf -->
      <visual>
        <origin xyz="-1.55 -2.25 0.75"/>
        <geometry>
          <box size="3.0 0.5 1.5"/>
        </geometry>
        <material name="phoebe_environment_black"/>
      </visual>
      <collision>
        <origin xyz="-1.55 -2.25 0.75"/>
        <geometry>
          <box size="3.0 0.5 1.5"/>
        </geometry>
      </collision>

    </link>

    <joint name="world_to_bookshelves" type="fixed">
      <parent link="world"/>
      <child link="bookshelves"/>
    </joint>

    <!-- ===================== TABLES ===================== -->
    <link name="tables">

      <!-- pick table -->
      <visual>
        <origin xyz="3.0 -0.666 0.333"/>
        <geometry>
          <box size="0.666 1.332 0.666"/>
        </geometry>
        <material name="phoebe_environment_blue"/>
      </visual>
      <collision>
        <origin xyz="3.0 -0.666 0.333"/>
        <geometry>
          <box size="0.666 1.332 0.666"/>
        </geometry>
      </collision>

      <!-- place table -->
      <visual>
        <origin xyz="-2.25 -0.666 0.333"/>
        <geometry>
          <box size="0.666 0.666 0.666"/>
        </geometry>
        <material name="phoebe_environment_blue"/>
      </visual>
      <collision>
        <origin xyz="-2.25 -0.666 0.333"/>
        <geometry>
          <box size="0.666 0.666 0.666"/>
        </geometry>
      </collision>

    </link>

    <joint name="world_to_tables" type="fixed">
      <parent link="world"/>
      <child link="tables"/>
    </joint>

    <!-- ===================== DESKS ===================== -->
    <link name="desks">

      <!-- desk 1 -->
      <visual>
        <origin xyz="3.0 1.0 0.333" rpy="0 0 0.523599"/>
        <geometry>
          <box size="0.666 1.332 0.666"/>
        </geometry>
        <material name="phoebe_environment_brown"/>
      </visual>
      <collision>
        <origin xyz="3.0 1.0 0.333" rpy="0 0 0.523599"/>
        <geometry>
          <box size="0.666 1.332 0.666"/>
        </geometry>
      </collision>

      <!-- desk 2 -->
      <visual>
        <origin xyz="1.85 2.0 0.333" rpy="0 0 1.2"/>
        <geometry>
          <box size="0.666 1.332 0.666"/>
        </geometry>
        <material name="phoebe_environment_brown"/>
      </visual>
      <collision>
        <origin xyz="1.85 2.0 0.333" rpy="0 0 1.2"/>
        <geometry>
          <box size="0.666 1.332 0.666"/>
        </geometry>
      </collision>

      <!-- desk 3 -->
      <visual>
        <origin xyz="-0.25 2.25 0.333" rpy="0 0 1.57"/>
        <geometry>
          <box size="0.666 2.5 0.666"/>
        </geometry>
        <material name="phoebe_environment_brown"/>
      </visual>
      <collision>
        <origin xyz="-0.25 2.25 0.333" rpy="0 0 1.57"/>
        <geometry>
          <box size="0.666 2.5 0.666"/>
        </geometry>
      </collision>

    </link>

    <joint name="world_to_desks" type="fixed">
      <parent link="world"/>
      <child link="desks"/>
    </joint>

  </xacro:macro>

  <!-- ===================== CYLINDER ===================== -->
  <link name="cylinder">
     <visual>
        <origin xyz="2.75 -0.666 0.665"/>
        <geometry>
            <mesh filename="package://phoebe_description/meshes/visual/cylinder/cylinder_mockup_full_length.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="cylinder_bottle_blue"/>
     </visual>
     <collision>
        <origin xyz="2.75 -0.666 0.665"/>
        <geometry>
            <mesh filename="package://phoebe_description/meshes/visual/cylinder/cylinder_mockup_full_length.stl" scale="0.001 0.001 0.001"/>
        </geometry>
     </collision>
  </link>

  <joint name="world_to_cylinder" type="fixed">
    <parent link="world"/>
    <child link="cylinder"/>
  </joint>

  <!-- ===================== CYLINDER JIG ===================== -->
  <link name="cylinder_jig">
    <visual>
      <origin xyz="-2.1 -0.666 0.667" rpy="3.14 3.14 0"/>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/cylinder/cylinder_jig/cylinder_jig.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="phoebe_environment_black"/>
    </visual>
  </link>

  <joint name="world_to_cylinder_jig" type="fixed">
    <parent link="world"/>
    <child link="cylinder_jig"/>
  </joint>

  <!-- ===================== INSTANTIATE MACRO ===================== -->
  <xacro:phoebe_environment/>

</robot>