<?xml version="1.0"?>
<robot name="phoebe" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="namespace" default="" />
    <xacro:arg name="is_sim" default="true" />

    <!-- Includes -->
    <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro" />
    <xacro:include filename="$(find phoebe_description)/urdf/r100.urdf.xacro" />

    <xacro:r100 />
</robot>