<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Macro for phoebe customization -->
  <xacro:macro
    name="phoebe"
    params="
      ns:=''
      tf_prefix:=''
      use_fake_hardware:='false'
      sim_ignition:='false'
      include_world_joints:='false'
      calibration_mode:='false'
      left_ewellix_com_port:='/dev/ewellix_left'
      right_ewellix_com_port:='/dev/ewellix_right'
      left_hande_com_port:='/tmp/hande_left'
      right_hande_com_port:='/tmp/hande_right'
      left_ur_ip_addr:='192.168.131.40'
      right_ur_ip_addr:='192.168.131.41'
      left_ur_kinematics_file:='$(find phoebe_description)/config/left_ur_calibration.yaml'
      right_ur_kinematics_file:='$(find phoebe_description)/config/right_ur_calibration.yaml'
      left_liftkit_calibration_file:='$(find phoebe_description)/config/left_liftkit_calibration.yaml'
      right_liftkit_calibration_file:='$(find phoebe_description)/config/right_liftkit_calibration.yaml'
      liftkit_mount_calibration_file:='$(find phoebe_description)/config/liftkit_mount_calibration.yaml'
      generate_ros2_control_tag:='true'
      add_grasp_push_frames:='true'
      use_camera_mesh:='true'
      use_left_static_pedestal:='false'
    "
  >
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro" />
  <xacro:include filename="$(find phoebe_description)/urdf/r100/r100_macro.xacro" />

  <!-- Conditionally attach the world to the base_link with a x, y, and yaw joints. -->
  <!-- This is necessary for moveit pro integration and for whole body motion planning and execution. -->
  <!-- However, as this is non-standard for other applications we do not want it by default. -->
  <xacro:if value="${include_world_joints}">

    <!-- For nav2 compatibility we affix map and odom to the world frame. -->
    <!-- The map pose in the world frame must be set manually from the world publisher. -->
    <!-- All odometry/world transforms are converted to joint states for the virtual joints manually. -->
    <link name="map"/>

    <link name="odom"/>
    <joint name="map_to_odom" type="fixed">
      <parent link="map"/>
      <child link="odom"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="virtual_rail_link_1"/>

    <!-- Connecting to odometry will enable the map -> world xform to be updated without distruption. -->
    <joint name="linear_x_joint" type="prismatic">
      <axis xyz="1 0 0"/>
      <parent link="odom" />
      <child link="virtual_rail_link_1" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <limit effort="1000.0" lower="-20.0" upper="20.0" velocity="0.175" acceleration="10.0"/>
      <dynamics damping="20.0" friction="500.0" />
    </joint>

    <link name="virtual_rail_link_2"/>

    <joint name="linear_y_joint" type="prismatic">
      <axis xyz="0 1 0"/>
      <parent link="virtual_rail_link_1" />
      <child link="virtual_rail_link_2" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <limit effort="1000.0" lower="-5.0" upper="55.0" velocity="0.175" acceleration="10.0"/>
      <dynamics damping="20.0" friction="500.0" />
    </joint>

    <joint name="rotational_yaw_joint" type="continuous">
      <axis xyz="0 0 1"/>
      <parent link="virtual_rail_link_2"/>
      <child link="${tf_prefix}base_link"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <limit effort="150.0" velocity="0.5235987755982988"/>
      <dynamics damping="0" friction="0"/>
    </joint>
  </xacro:if>

  <xacro:r100
      tf_prefix="${tf_prefix}"
      use_fake_hardware="${use_fake_hardware}"
      sim_ignition="${sim_ignition}"
      ns="${ns}"
      generate_ros2_control_tag="${generate_ros2_control_tag}"
  />

  <!-- Mounting rails for lifts -->
  <link name="${tf_prefix}lift_rails">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/lift_rails.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="0.000 -0.000 0.020"/>
      <geometry>
        <!--<mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/lift_rails.STL"/>-->
        <box size="0.220 0.730 0.040"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}lift_rails_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}lift_rails" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Rear shelf -->
  <link name="${tf_prefix}rear_shelf">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/shelf.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="-0.289 0.000 0.113"/>
      <geometry>
        <!--<mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/shelf.STL"/>-->
        <box size="0.379 0.790 0.226"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}rear_shelf_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}rear_shelf" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- Front shelf -->
  <link name="${tf_prefix}front_shelf">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/shelf.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="-0.289 0.000 0.113"/>
      <geometry>
        <!--<mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/shelf.STL"/>-->
        <box size="0.379 0.790 0.226"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}front_shelf_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}front_shelf" />
    <origin xyz="0 0 0" rpy="0 0 ${pi}" />
  </joint>

  <!-- Monitor hinge base -->
  <link name="${tf_prefix}monitor_hinge_base">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor_hinge_base.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="0.000 0.000 -0.003"/>
      <geometry>
        <box size="0.040 0.450 0.036"/>
        <!--<mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor_hinge_base.STL"/>-->
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}monitor_hinge_base_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}monitor_hinge_base" />
    <origin xyz="-0.4 0 0.24635" rpy="0 0 0" />
  </joint>

  <!-- Monitor hinge top -->
  <link name="${tf_prefix}monitor_hinge_top">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor_hinge_top.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="-0.013 0.000 0.000"/>
      <geometry>
        <!--<mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor_hinge_top.STL"/>-->
        <box size="0.055 0.450 0.040"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}monitor_hinge_top_joint" type="fixed">
    <parent link="${tf_prefix}monitor_hinge_base" />
    <child link="${tf_prefix}monitor_hinge_top" />
    <origin xyz="0 0 0" rpy="0 0.74 0" />
  </joint>

  <!-- Left monitor -->
  <link name="${tf_prefix}left_monitor">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="-0.015 0.000 -0.008"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor.STL"/> -->
        <box size="0.071 0.260 0.176"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}left_monitor_joint" type="fixed">
    <parent link="${tf_prefix}monitor_hinge_top" />
    <child link="${tf_prefix}left_monitor" />
    <origin xyz="-0.04 0.18 0.01" rpy="0 0 0" />
  </joint>

  <!-- Right monitor -->
  <link name="${tf_prefix}right_monitor">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="-0.015 0.000 -0.008"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/monitor.STL"/> -->
        <box size="0.071 0.260 0.176"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}right_monitor_joint" type="fixed">
    <parent link="${tf_prefix}monitor_hinge_top" />
    <child link="${tf_prefix}right_monitor" />
    <origin xyz="-0.04 -0.18 0.01" rpy="0 0 0" />
  </joint>

  <!-- Rear UR Control Box -->
  <!-- <link name="${tf_prefix}rear_ur_control_box">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/ur_control_box.STL"/>
      </geometry>
      <material name="clearpath_aluminum" />
    </visual>
    <collision>
      <origin xyz="0.090 -0.107 0.098"/>
      <geometry>
        <box size="0.199 0.502 0.195"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}rear_ur_control_box_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}rear_ur_control_box" />
    <origin xyz="-0.44274 0.13 0" rpy="0 0 0" />
  </joint> -->

  <!-- Front UR Control Box -->
  <!-- <link name="${tf_prefix}front_ur_control_box">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/ur_control_box.STL"/>
      </geometry>
      <material name="clearpath_aluminum" />
    </visual>
    <collision>
      <origin xyz="0.090 -0.107 0.098"/>
      <geometry>
        <box size="0.199 0.502 0.195"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}front_ur_control_box_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}front_ur_control_box" />
    <origin xyz="0.44274 -0.13 0" rpy="0 0 ${pi}" />
  </joint> -->

  <!-- Rear Ewellix SCU -->
  <link name="${tf_prefix}rear_scu">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/scu.STL"/>
      </geometry>
      <material name="clearpath_aluminum" />
    </visual>
    <collision>
      <origin xyz="0.000 0.002 0.043"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/scu.STL"/> -->
        <box size="0.140 0.365 0.087"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}rear_scu_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}rear_scu" />
    <origin xyz="-0.18187 0 0" rpy="0 0 0" />
  </joint>

  <!-- Front Ewellix SCU -->
  <link name="${tf_prefix}front_scu">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/scu.STL"/>
      </geometry>
      <material name="clearpath_aluminum" />
    </visual>
    <collision>
      <origin xyz="0.000 0.002 0.043"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/scu.STL"/> -->
        <box size="0.140 0.365 0.087"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}front_scu_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}front_scu" />
    <origin xyz="0.18187 0 0" rpy="0 0 ${pi}" />
  </joint>

  <!-- Autec wireless e-stop MVRCAN receiver -->
  <link name="${tf_prefix}autec_receiver">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/autec_receiver.STL"/>
      </geometry>
      <material name="clearpath_yellow" />
    </visual>
    <collision>
      <origin xyz="0.008 0.000 0.031"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/autec_receiver.STL"/> -->
        <box size="0.255 0.142 0.062"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}autec_receiver_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}autec_receiver" />
    <origin xyz="-0.26 -0.29909 0" rpy="0 0 0" />
  </joint>

  <!-- Right wifi antenna -->
  <link name="${tf_prefix}right_wifi_antenna">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/wifi_antenna.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="-0.003 0.000 0.089"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/wifi_antenna.STL"/> -->
        <cylinder radius="0.033" length="0.229"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}right_wifi_antenna_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}right_wifi_antenna" />
    <origin xyz="-0.086 -0.384 0.22" rpy="0 0 0" />
  </joint>

  <!-- Left wifi antenna -->
  <link name="${tf_prefix}left_wifi_antenna">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/wifi_antenna.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="-0.003 0.000 0.089"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/wifi_antenna.STL"/> -->
        <cylinder radius="0.033" length="0.229"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}left_wifi_antenna_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}left_wifi_antenna" />
    <origin xyz="-0.086 0.384 0.22" rpy="0 0 0" />
  </joint>

  <!-- Autec wireless e-stop antenna -->
  <link name="${tf_prefix}autec_antenna">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/autec_antenna.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <origin xyz="0.002 0.000 0.049"/>
      <geometry>
        <!-- <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/autec_antenna.STL"/> -->
        <cylinder radius="0.037" length="0.147"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}autec_antenna_joint" type="fixed">
    <parent link="${tf_prefix}default_mount" />
    <child link="${tf_prefix}autec_antenna" />
    <origin xyz="0.0845 -0.384 0.22" rpy="0 0 0" />
  </joint>

  <!-- Left Ewellix mounting flange -->

  <!-- load the liftkit mount calibration -->
    <xacro:property name="liftkit_mount_calibration" value="${xacro.load_yaml(liftkit_mount_calibration_file)}"/>
    <xacro:property name="left_edge_aligned_distance" value="${liftkit_mount_calibration['left_edge_aligned_distance']}"/>
    <xacro:property name="right_edge_aligned_distance" value="${liftkit_mount_calibration['right_edge_aligned_distance']}"/>
    <xacro:property name="left_liftkit_dist_from_edge" value="${liftkit_mount_calibration['left_liftkit_dist_from_edge']}"/>
    <xacro:property name="right_liftkit_dist_from_edge" value="${liftkit_mount_calibration['right_liftkit_dist_from_edge']}"/>

  <xacro:unless value="${use_left_static_pedestal}">
    <link name="${tf_prefix}left_ewellix_mount_flange_link">
      <visual>
        <geometry>
          <box size="0.2 0.2 0.015"/>
        </geometry>
        <material name="clearpath_aluminum"/>
        <origin rpy="0 0 0" xyz="0 0 0.0075"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.2 0.2 0.015"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.0075"/>
      </collision>
    </link>
    <joint name="${tf_prefix}left_ewellix_mount_flange_joint" type="fixed">
      <parent link="${tf_prefix}default_mount"/>
      <child link="${tf_prefix}left_ewellix_mount_flange_link"/>
      <origin xyz="0 ${left_edge_aligned_distance-left_liftkit_dist_from_edge} 0.04" rpy="0 0 0" />
    </joint>
  </xacro:unless>

  <xacro:if value="${use_left_static_pedestal}">
    <link name="${tf_prefix}left_static_pedestal_link">
      <visual>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/static_pedestal_with_mount.stl" scale="0.0254 0.0254 0.0254"/>
        </geometry>
        <material name="clearpath_aluminum"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/static_pedestal_with_mount.stl" scale="0.0254 0.0254 0.0254"/>
        </geometry>
      </collision>
    </link>
    <joint name="${tf_prefix}left_ewellix_pedestal_link_joint" type="fixed">
      <parent link="${tf_prefix}default_mount"/>
      <child link="${tf_prefix}left_static_pedestal_link"/>
      <origin xyz="0 ${left_edge_aligned_distance-left_liftkit_dist_from_edge} 0.04" rpy="0 0 1.5707963" />
    </joint>
  </xacro:if>

  <!-- Right Ewellix mounting flange -->
  <link name="${tf_prefix}right_ewellix_mount_flange_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.015"/>
      </geometry>
      <material name="clearpath_aluminum"/>
      <origin rpy="0 0 0" xyz="0 0 0.0075"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.2 0.015"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0075"/>
    </collision>
  </link>

  <joint name="${tf_prefix}right_ewellix_mount_flange_joint" type="fixed">
    <parent link="${tf_prefix}default_mount"/>
    <child link="${tf_prefix}right_ewellix_mount_flange_link"/>
    <origin xyz="0 ${-right_edge_aligned_distance+right_liftkit_dist_from_edge} 0.04" rpy="0 0 0" />
  </joint>

<!-- Ewellix lift column xacro -->
  <!-- base is 0.075 (0.015/2) from clearpath description. 0.2457 is from DRT's ewellix_lift.xacro -->
  <xacro:include filename="$(find ewellix_liftkit_description)/urdf/ewellix_lift.xacro"/>
  <xacro:include filename="$(find ewellix_liftkit_description)/urdf/properties.xacro"/>

  <!-- convert the arg into a property to be usable by the xacro -->
  <!-- <xacro:property name="left_liftkit_calibration_file" value="${left_liftkit_calibration_file}"/>
  <xacro:property name="right_liftkit_calibration_file" value="${right_liftkit_calibration_file}"/> -->

  <xacro:unless value="${use_left_static_pedestal}">
    <xacro:ewellix_lift
      name="${tf_prefix}left_ewellix"
      is_700="false"
      is_500="true"
      tf_prefix="${tf_prefix}left_"
      parent="${tf_prefix}left_ewellix_mount_flange_link"
      height_limit="0.5"
      initial_value="0.26644069061695785"
      omit_plates="true"
      use_fake_hardware="${use_fake_hardware}"
      com_port="${left_ewellix_com_port}"
      generate_ros2_control_tag="${generate_ros2_control_tag}"
    >
      <origin xyz="0 0 ${0.0075+0.2457}" rpy="0 0 0"/>
    </xacro:ewellix_lift>

    <!-- Left arm mount plate -->
    <link name="${tf_prefix}left_arm_mount_plate">
      <visual>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/arm_mount.STL"/>
        </geometry>
        <material name="clearpath_black" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/arm_mount_collision.STL"/>
        </geometry>
      </collision>
    </link>

    <joint name="${tf_prefix}left_arm_mount_plate_joint" type="fixed">
      <parent link="${tf_prefix}left_ewellix_lift_tip_link" />
      <child link="${tf_prefix}left_arm_mount_plate" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  </xacro:unless>

  <xacro:if value="${use_left_static_pedestal}">

     <link name="${tf_prefix}left_ewellix_lift_tip_link">
     </link>

     <joint name="${tf_prefix}ewellix_lift_tip_joint" type="fixed">
      <parent link="${tf_prefix}left_static_pedestal_link"/>
      <child link="${tf_prefix}left_ewellix_lift_tip_link"/>
      <origin xyz="0 0 0.6096" rpy="0 0 0"/>
    </joint>

    <!-- Left arm mount plate -->
    <!-- <link name="${tf_prefix}left_arm_mount_plate">
      <visual>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/arm_mount.STL"/>
        </geometry>
        <material name="clearpath_black" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/arm_mount_collision.STL"/>
        </geometry>
      </collision>
    </link>

    <joint name="${tf_prefix}left_arm_mount_plate_joint" type="fixed">
      <parent link="${tf_prefix}left_ewellix_lift_tip_link" />
      <child link="${tf_prefix}left_arm_mount_plate" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint> -->
  </xacro:if>

  <xacro:ewellix_lift
      name="${tf_prefix}right_ewellix"
      is_700="false"
      is_500="true"
      tf_prefix="${tf_prefix}right_"
      parent="${tf_prefix}right_ewellix_mount_flange_link"
      height_limit="0.5"
      initial_value="0.259764889515653"
      omit_plates="true"
      use_fake_hardware="${use_fake_hardware}"
      com_port="${right_ewellix_com_port}"
      generate_ros2_control_tag="${generate_ros2_control_tag}"
    >
      <origin xyz="0 0 ${0.0075+0.2457}" rpy="0 0 0"/>
  </xacro:ewellix_lift>

  <!-- Right arm mount plate -->
  <link name="${tf_prefix}right_arm_mount_plate">
    <visual>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/arm_mount.STL"/>
      </geometry>
      <material name="clearpath_black" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://phoebe_description/meshes/visual/jaco01_meshes/arm_mount_collision.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="${tf_prefix}right_arm_mount_plate_joint" type="fixed">
    <parent link="${tf_prefix}right_ewellix_lift_tip_link" />
    <child link="${tf_prefix}right_arm_mount_plate" />
    <origin xyz="0 0 0" rpy="0 0 ${pi}" />
  </joint>

  <!-- calibration links -->
  <xacro:unless value="${use_left_static_pedestal}">
    <link name="${tf_prefix}left_arm_cal_link"> </link>

    <joint name="${tf_prefix}left_arm_cal_joint" type="fixed">
      <parent link="${tf_prefix}left_arm_mount_plate" />
      <child link="${tf_prefix}left_arm_cal_link" />
      <origin xyz="0.00807 -0.00363 0.01019" rpy="0.01529 0.01951 -0.00426"/>
    </joint>
  </xacro:unless>

  <xacro:if value="${use_left_static_pedestal}">
    <link name="${tf_prefix}left_arm_cal_link"> </link>

    <joint name="${tf_prefix}left_arm_cal_joint" type="fixed">
      <parent link="${tf_prefix}left_static_pedestal_link" />
      <child link="${tf_prefix}left_arm_cal_link" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:if>

  <link name="${tf_prefix}right_arm_cal_link"> </link>

  <joint name="${tf_prefix}right_arm_cal_joint" type="fixed">
    <parent link="${tf_prefix}right_arm_mount_plate" />
    <child link="${tf_prefix}right_arm_cal_link" />
    <origin xyz="-0.00878 -0.00039 0.00881" rpy="0.01118 -0.02966 -0.00119"/>
  </joint>
  <!-- end calibration links -->

  <link name="${tf_prefix}left_arm_mount_plate_2"> </link>

  <joint name="${tf_prefix}left_arm_mount_joint" type="fixed">
    <parent link="${tf_prefix}left_arm_cal_link" />
    <child link="${tf_prefix}left_arm_mount_plate_2" />
    <origin xyz="0 0.01628 0.09117" rpy="-${pi/4} 0 0"/>
  </joint>

  <link name="${tf_prefix}right_arm_mount_plate_2"> </link>

  <joint name="${tf_prefix}right_arm_mount_joint" type="fixed">
    <parent link="${tf_prefix}right_arm_cal_link" />
    <child link="${tf_prefix}right_arm_mount_plate_2" />
    <origin xyz="0 0.01628 0.09117" rpy="${pi/4} 0 ${pi}"/>
  </joint>

  <!-- arm -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:property name="initial_positions_file_left" default="$(find phoebe_description)/config/left_ur_initial_positions.yaml"/>
  <xacro:property name="initial_positions_file_right" default="$(find phoebe_description)/config/right_ur_initial_positions.yaml"/>

  <!-- right ur -->
  <xacro:ur_robot
    name="${tf_prefix}right_ur5e"
    tf_prefix="${tf_prefix}right_ur_arm_"
    parent="${tf_prefix}right_arm_mount_plate_2"
    kinematics_parameters_file="${right_ur_kinematics_file}"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    >
    <origin xyz="0 0 0" rpy="0 0 ${5*pi/4}" />
  </xacro:ur_robot>

  <xacro:if value="${generate_ros2_control_tag}">
    <!-- only including the ros2_control files in this first UR block -->
    <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro" />
    <xacro:include filename="$(find ur_description)/urdf/inc/ur_transmissions.xacro" />

    <xacro:ur_ros2_control
      name="${tf_prefix}right_ur5e_ros2_control"
      tf_prefix="${tf_prefix}right_ur_arm_"
      kinematics_parameters_file="${right_ur_kinematics_file}"
      use_mock_hardware="${use_fake_hardware}"
      mock_sensor_commands="${use_fake_hardware}"
      initial_positions="${xacro.load_yaml(initial_positions_file_right)}"
      robot_ip="${right_ur_ip_addr}"
      script_filename="$(find ur_client_library)/resources/external_control.urscript"
      output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
      input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
      reverse_port="60001"
      script_sender_port="60002"
      trajectory_port="60003"
      script_command_port="60004"
    />
  </xacro:if>

  <!-- left ur -->
  <xacro:ur_robot
    name="${tf_prefix}left_ur5e"
    tf_prefix="${tf_prefix}left_ur_arm_"
    parent="${tf_prefix}left_arm_mount_plate_2"
    kinematics_parameters_file="${left_ur_kinematics_file}"
    joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    >
    <origin xyz="0 0 0" rpy="0 0 ${-pi/4}" /> <!-- TODO: need to integrate the OPTENV RIGEBACK_RIGHT_UR_XYZ stuff-->
  </xacro:ur_robot>

  <xacro:if value="${generate_ros2_control_tag}">
    <xacro:ur_ros2_control
      name="${tf_prefix}left_ur5e_ros2_control"
      tf_prefix="${tf_prefix}left_ur_arm_"
      kinematics_parameters_file="${left_ur_kinematics_file}"
      use_mock_hardware="${use_fake_hardware}"
      mock_sensor_commands="${use_fake_hardware}"
      initial_positions="${xacro.load_yaml(initial_positions_file_left)}"
      robot_ip="${left_ur_ip_addr}"
      script_filename="$(find ur_client_library)/resources/external_control.urscript"
      output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
      input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
      reverse_port="50001"
      script_sender_port="50002"
      script_command_port="50004"
      trajectory_port="50003"
    />
  </xacro:if>

  <!-- end effector interface stack -->
  <xacro:unless value="${calibration_mode}">
    <xacro:include filename="$(find phoebe_description)/urdf/ee_interface.xacro"/>
    <xacro:ee_interface
      tf_prefix="${tf_prefix}right_"
      parent="${tf_prefix}right_ur_arm_tool0">
      <origin xyz="0 0 0.0" rpy="0 0 ${pi}"/>
    </xacro:ee_interface>

    <xacro:ee_interface
      tf_prefix="${tf_prefix}left_"
      parent="${tf_prefix}left_ur_arm_tool0">
      <origin xyz="0 0 0.0" rpy="0 0 ${pi}"/>
    </xacro:ee_interface>

    <!-- Realsense camera -->
    <xacro:property name="realsense_materials_defined" value="true" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

    <!-- right camera -->
    <xacro:sensor_d435 parent="${tf_prefix}right_ur_realsense_mount" use_nominal_extrinsics="true" use_mesh="${use_camera_mesh}" name="${tf_prefix}right_wrist_mounted_camera">
      <!-- original -->
      <!-- <origin xyz="-0.064 -0.003 0.016" rpy="0.136 -1.429 -0.128"/> -->
      <!-- first cal ~2.3 px reproj error -->
      <origin xyz="-6.1788056476961728e-02 -2.4867707148071745e-03 1.2036970069250407e-02" rpy="-5.2776889304282960e-03 -1.4500635837943188e+00 2.5519090344067272e-02"/>
    </xacro:sensor_d435>

    <!-- left camera -->
    <xacro:sensor_d435 parent="${tf_prefix}left_ur_realsense_mount" use_nominal_extrinsics="true" use_mesh="${use_camera_mesh}" name="${tf_prefix}left_wrist_mounted_camera">
      <!-- original -->
      <!-- <origin xyz="-0.064 -0.003 0.016" rpy="0.136 -1.429 -0.128"/> -->
      <!-- first cal ~4 px reproj error -->
      <!-- <origin xyz="-6.3398954689359577e-02 1.0843610275642415e-03 1.0771886573701910e-02" rpy="-3.3291953701393887e-02 -1.4542171203396566e+00 3.8217188478749678e-02"/> -->
      <!-- second cal ~2.4 px reproj error -->
      <origin xyz="-6.4777232475001029e-02 1.1461581058038600e-04 1.2884814853441564e-02" rpy="-9.9487205554735336e-02 -1.4520756449714673e+00 1.0569277772629829e-01"/>
    </xacro:sensor_d435>

    <!-- right gripper - 2F-85 -->
    <xacro:include filename="$(find phoebe_description)/urdf/robotiq_2f_85_macro.xacro"/>
    <xacro:robotiq_2f_85
      com_port="${right_hande_com_port}"
      use_fake_hardware="${use_fake_hardware}"
      name="${tf_prefix}right_dextivr_hande"
      tf_prefix="${tf_prefix}right_"
      parent="${tf_prefix}right_ur_realsense_mount"
      generate_ros2_control_tag="${generate_ros2_control_tag}"
      add_grasp_push_frames="${add_grasp_push_frames}">
      <origin xyz="0 0 0.003" rpy="0 0 ${pi/2}"/>
    </xacro:robotiq_2f_85>

    <!-- Left gripper - Hand-E -->
    <xacro:include filename="$(find dextivr_hande_description)/urdf/dextivr_hande.xacro"/>
    <xacro:dextivr_hande
      com_port="${left_hande_com_port}"
      use_fake_hardware="${use_fake_hardware}"
      name="${tf_prefix}left_dextivr_hande"
      tf_prefix="${tf_prefix}left_"
      parent="${tf_prefix}left_ur_realsense_mount"
      generate_ros2_control_tag="${generate_ros2_control_tag}"
      add_grasp_push_frames="${add_grasp_push_frames}"
      finger_xacro="fngr_original">
      <origin xyz="0 0 0.003" rpy="0 0 ${pi/2}"/>
    </xacro:dextivr_hande>

  </xacro:unless>

  <!-- Calibration HW -->

  <xacro:if value="${calibration_mode}">
    <xacro:include filename="$(find phoebe_description)/urdf/calibration_interface.xacro"/>
    <xacro:calibration_interface
      tf_prefix="${tf_prefix}left_"
      robot_parent="${tf_prefix}left_mtc_effector_side">
      <origin xyz="0 0 0.024" rpy="0 0 ${pi}"/>
    </xacro:calibration_interface>

    <xacro:calibration_interface
      tf_prefix="${tf_prefix}right_"
      robot_parent="${tf_prefix}right_mtc_effector_side">
      <origin xyz="0 0 0.024" rpy="0 0 ${pi}"/>
    </xacro:calibration_interface>

        <!-- calibration location-->
    <link name="${tf_prefix}calibration_plate_target_side">
      <visual>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/calibration/calibration_plate_target_side.stl" scale="0.0254 0.0254 0.0254"/>
        </geometry>
        <material name="clearpath_aluminum"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://phoebe_description/meshes/visual/calibration/calibration_plate_target_side.stl" scale="0.0254 0.0254 0.0254"/>
        </geometry>
      </collision>
    </link>

    <joint name="${tf_prefix}calibration_plate_target_joint_side" type="fixed">
      <parent link="${tf_prefix}default_mount"/>
      <child link="${tf_prefix}calibration_plate_target_side"/>
      <origin xyz="0.4 0.0 0.22635" rpy="${pi} 0 ${-pi/2}" />
    </joint>

    <xacro:property name="cal_target_side_thickness" value="0.013335"/>

    <joint name="${tf_prefix}calibration_face_target_side_joint" type="fixed">
      <parent link="${tf_prefix}calibration_plate_target_side"/>
      <child link="${tf_prefix}calibration_face_target_side"/>
      <origin rpy="0 0 0" xyz="0 0 ${-1.0*cal_target_side_thickness}"/>
    </joint>

    <link name="${tf_prefix}calibration_face_target_side"/>

  </xacro:if>

  </xacro:macro>
</robot>
