<?xml version="1.0"?>
<robot name="phoebe" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="tf_prefix" default="" />

    <xacro:arg name="ns" default="" />
    <xacro:arg name="is_sim" default="true" />
    <xacro:arg name="parent" default="world" />

    <!-- Includes -->
    <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro" />
    <xacro:include filename="$(find phoebe_description)/urdf/r100.urdf.xacro" />

    <xacro:r100
        tf_prefix="$(arg tf_prefix)"
        is_sim="$(arg is_sim)"
        ns="$(arg ns)"
    />

    <xacro:include filename="$(find phoebe_description)/urdf/jaco01_customization.urdf.xacro" />
    <xacro:jaco01_customization/>
</robot>